<p>
  view-project works!
</p>
<div class="details">
  <h3>{{projectToDisplay.title}}</h3>
  <h4>{{projectToDisplay.category}}</h4>
  <p>{{projectToDisplay.description}}</p>
  <p>{{projectToDisplay.difficulty}}</p>
  <p>{{projectToDisplay.numberOfSteps}}</p>
  <p>{{projectToDisplay.steps}}</p>
</div>
<h2>This project has id number: {{projectId}}</h2>
<!-- Instance of single Project displayed and formatted. Edit button(for user only?), button to display comments, form and button to add comment -->

<!-- edit-project component -->
<app-edit-project (clickSender)="editProject($event)"></app-edit-project>
<!-- leave-comment component -->

<!-- view-comments component -->
