.wrapper{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.6px;
  font-size: 12px;
  border: 4mm ridge rgba(170, 50, 220, .6);
  width: 95%;
  margin: 0 auto;
  display: grid;
} 

.wrapper .top-row {
  color: #ccc;
  display: grid;
  background: #555;
  grid-template-columns:repeat(8, 1fr);
  border: solid 1px teal;
}

.nested {
  grid-gap: 1em;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  border: solid 1px navy;
}

.top-row .link a{
  display: grid;
  border: solid 1px lawngreen;
  grid-template-columns:repeat(8, 1fr);
  background: #555;
  color: white;
  padding: 10px;
}
 
.item img {
  height: 95px;
  border: solid 1px indianred;
}

.wrapper .bottom-row {
  display: grid;
  background: peachpuff;
  border: solid 1px red;
  grid-template-columns:1fr 6fr 2fr 1fr 4fr 2fr;
}

.wrapper .welcome {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  min-width: 188px;
}
















 
 .site-header {
    position: relative;
    z-index: 4;
    border: 4mm ridge rgba(170, 50, 220, .6);
    height: 125px;
    background-color: bisque;
 }

 .site-header img {
  height: 87px;
 }

 .header { 
  background: #555;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 15px 5px 10px;
  min-height: 28px;
}


.header a.category-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  color: #ccc;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.6px;
  font-size: 12px;
} 

.site-header h1 {
  text-align: center;
}
