 .site-header {
    position: relative;
    z-index: 4;
    border: 4mm ridge rgba(170, 50, 220, .6);
    height: 125px;
    background-color: bisque;
 }

 .header { 
  background: #555;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 15px 5px 10px;
  min-height: 28px;
}

body {
  background-color: #d4e1e7;
  min-width: 1030px;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}

.header a.category-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  color: #ccc;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.6px;
  font-size: 12px;
} 

