body {
  background-image: url("../assets/img/how-to-background.jpg");
  background-color: rgb(224, 189, 31);
  height: 100%;
}

.wrapper{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.6px;
  font-size: 12px;
  border: 3mm ridge rgba(206, 136, 46, 1);
  width: 95%;
  margin: 0 auto;
  display: grid;
} 

.wrapper .top-row {
  color: #ccc;
  display: grid;
  line-height: 1em;
  background: #555;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr 1fr;
  padding: 10px;
  place-items: center;
}

.top-row .link a{
  background: #555;
  color: white;
}
 

.nested {
  grid-gap: 1em;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  font-size: 13px;
  color: #555;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  place-items: center;
}


.item img {
  height: 95px;
}

.wrapper .bottom-row {
  display: grid;
  height: 96px;
  background: rgb(233, 233, 231);
  grid-template-columns:1fr 7fr 2fr 1fr 4fr 2fr;
}

.wrapper .welcome {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  min-width: 188px;
}

iframe {
  display: grid;
  
  width: 96%;
  margin-left: 22px;
  margin-top: 0px;
}














 
 .site-header {
    position: relative;
    z-index: 4;
    border: 4mm ridge rgba(170, 50, 220, .6);
    height: 125px;
    background-color: bisque;
 }

 .site-header img {
  height: 87px;
 }

 .header { 
  background: #555;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 15px 5px 10px;
  min-height: 28px;
}


.header a.category-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  color: #ccc;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.6px;
  font-size: 12px;
} 

.site-header h1 {
  text-align: center;
  margin-left: 50px;
}
