<body>
  <div class="wrapper">
      <div class="top-row">
        <div class="link"><a class="category-nav-link" href="">circuits</a></div>
        <div class="link"><a class="category-nav-link" href="">workshop</a></div>
        <div class="link"><a class="category-nav-link" href="">craft</a></div>
        <div class="link"><a class="category-nav-link" href="">cooking</a></div>
        <div class="link"><a class="category-nav-link" href="">living</a></div>
        <div class="link"><a class="category-nav-link" href="">outside</a></div>
        <div class="link"><a class="category-nav-link" href="">teachers</a></div>
        <div class="link"><form (submit)="onSubmit()">
            <input name="signin" placeholder="username" size="15" #checkUser>
            <button (click)="submitUser(checkUser.value)">Login</button></form></div>
      </div>
      <div class="bottom-row">
        <div class="item"><img src="../assets/img/mrfixit.jpg"></div>
        <div class="welcome"><h2>{{ title }}</h2></div>
        <div class="item">blank</div>
        <div class="item">blank</div>
          <div class="nested">
          <div>contests</div>
          <div>classes</div>
          <div>publish</div>
        </div>
        <div class="item"><form (submit)="searchSubmit()"><input name="search" placeholder="search" size="15" #searchVar><button (click)="searchProject(searchVar.value)">search</button></form></div>
      </div>
    </div>
  

      
  <!--Log-in component input -->
      <app-log-in [childUser]="username" (clickedValidate)="validateProfile($event)"></app-log-in>
  <!-- Add-project component output -->
      <app-add-project (sendProject)="addProject($event)"></app-add-project>
    




  <!-- search-project component -->
  <app-search-project [childSearchRelevantProjectList]="masterProjectList" (clickSender)="viewRelevantProjects($event)"></app-search-project>
  <!-- View-project component -->
  <router-outlet></router-outlet>
</body>
