<body>

<img src="../../assets/img/create-header1.jpg">
<button ng-click="showme=true">Submit a project</button>
<div ng-show="showme">
  <label>Title your project:</label><br>
  <input type="text" #newProject><br><br>
  <label>Select a category for your project:</label><br>
  <select name="newCategory">
    <option value="circuits">Circuits</option>
    <option value="cooking">Cooking</option>
    <option value="craft">Craft</option>
    <option value="living">Living</option>
    <option value="outdoors">Outdoors</option>
    <option value="workshop">Workshop</option>
  </select><br><br>
  <label>Select the difficulty of your project:</label><br>
  <select name="newDifficulty">
    <option value="simple">Simple</option>
    <option value="intermediate">Intermediate</option>
    <option value="expert">Expert</option>
  </select><br><br>

  <label>Steps:</label>
  <input type="text" #newSteps><br><br>
  <button (click)="createNewProject(newTitle.value, newCategory.value, newDifficulty.value, newSteps.value)">Create!</button>
</div>
</body>